.top{
  margin-top: 20px;
}
#orderIdxInput {
  font-size: 2em !important;
}
#userIdxInput {
  font-size: 2em !important;
}
.searchButton{
  margin-bottom: 10px;
}

.pointButton {
  margin-bottom: 10px;
  margin-left: 10px;
}
.widthFull{
  width: 100%;
}

.top50{
  margin-top: 50px;
}

.white-space-pre {
    white-space: pre-wrap;
}

.MenuManagerHeader {
  color:#FFE7B2;
  text-align:center;
  background-color: #FF5722;
  margin: 0 auto;
  height: 75px;
  line-height: 75px;
  border-bottom: 5px solid #cc2710;

}

.change-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  padding: 20px;
  background: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.change-popup.show {
  display: block;
}